@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Bai Jamjuree';
    font-size: 18px;
}

/* Header Section */
header{
	background: #e9e2e2;
}
.main-header {
	display: flex;
	justify-content: space-between;
	/* border-bottom: 0.2px solid rgb(255 231 235); */
}
.header-logo {
	width: 30%;
	margin-left: 2em;
	margin-top: 0.7em;
}
.nav-links {
	list-style-type: none;
	margin-right: 13em;
	margin-top: 1.3em;
}
.nav-links li {
	display: inline-block;
	padding: 0 1em;
}
.nav-links li a {
	text-decoration: none;
	color: gray;
}
.nav-links li a:hover {
	color: #362713;
}
.header-btn {
	float: right;
	margin-top: -3.5em;
	margin-right: 4em;
	border-radius: 30px;
	padding: 1em 2em;
	background: rgb(87, 221, 87);
	color: white;
	border: none;
}
.header-btn:hover {
	background-color:#362713;
}

/* End Of Header Section */

/* First Section */
.hero-wrapper {
	display: flex;
	justify-content: space-between;
	background: #362713;
    padding-bottom: 6em;
}

.hero-img {
	width: 80%;
    height: 450px;
    float: right;
    margin-right: 4em;
    margin-top: 6em;
	border-radius: 50%;
	border: #362713;
}
.content-title {
	font-size: 34px;
    width: 90%;
    margin: 7em 0 0 2em;
    color: rgb(241 241 241);
}
.content-desc {
	font-size: 18px;
    margin: 1em 4em 0 4em;
    color: #868282;
}
.content-btn {
	margin: 1em 0 0 5.5em;
    width: 40%;
    background: rgb(87, 221, 87);
    padding: 1em 4em;
    border-radius: 54px;
    border: #362713;
    color: whitesmoke;
    font-size: 13px;
}

/* Second Section */

.second-section {
	background-color: gray;
}
.service-content {
	display: flex;
	justify-content: space-evenly;
}

.home-service {
	width: 50%;
}
.sales-delivery {
	width: 50%;
}
.training {
	width: 50%;
}
.our-service {
	background:  #e9e2e2;
	padding: 1em 0 4em 0;
}

.services {
	text-align: center;
	margin-top: 4em;
}

.services p {
	padding: 0 2em;
}
.services h4 {
	font-size: 24px;
}
.services a {
	text-decoration: none;
	color: #362713;
}
.services a:hover {
	color: lime;
	background-color: #362713;
}
.service-section {
	text-align: center;
	margin-top: 2em;
}
/* third section */
.bg-title {
    text-align: center;
	width: 106%;
	color: rgb(241 241 241);;
}
.bg-btn{
	width: 24%;
	background: rgb(87, 221, 87);
	margin: 2em 23em;
    padding: 1em;
	border-radius: 54px;
	border: none;
	color: whitesmoke;
	font-size: 24px;
}
.bg-sec{
	background: #362713;
	/* margin-top: 1em; */
	padding: 4em 0;
}

/* last section */
.cont-text{
	padding: 3em 0;
	text-align: center;
	background: #e9e2e2;
}
.contact-title{
	color: white;
	font-size: 38px;
}
.name{
	width: 40%;
	padding: 1em;
	margin: 1em;
	border: none;
}
.email{
	width: 30%;
	padding: 1em;
	margin: 1em;
	border: none;
}
.contact-btn {
    width: 15%;
    padding: 1em 0;
    border-radius: 20px;
	border: #dadada;
	margin: 2em 0;
	background: rgb(87, 221, 87);
	color: #ffffff;
}
/* footer */
footer{
	padding: 2em 0;
	 background: #362713; 
}
.footer-logo{
	width: 35%;
    margin-left: 3em;
    margin-top: 2em;
}
.main-footer{
	display: flex;
	justify-content: space-between;
}
._footer {
	margin-right: -12em;
}
.footer-links1 {
	margin-right: -9em;
}
.footer-links2 {
	margin-right: 5em;
}
.links{
	color: #dadada;
	list-style-type: none;
}
.links li {
	padding: 1em 0;
}
.links li a{
   text-decoration: none;
   color: #dadada;
}

.social-links li {
	list-style-type: none;
	display: inline-block;
	padding: 0 .2em;
	margin-right: 1em;
	margin-top: 1em;
}

.footer-copy{ 
	color: #dadada;
	margin-right: 6em;
    margin-top: 3em;
}