@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Bai Jamjuree';
    font-size: 18px;
}

/* Header Section */
header{
	background: #dadada;
}
.main-header {
	display: flex;
	justify-content: space-between;
	/* border-bottom: 0.2px solid rgb(255 231 235); */
}
.header-logo {
	width: 30%;
	margin-left: 2em;
	margin-top: 0.7em;
}
.nav-links {
	list-style-type: none;
	margin-right: 13em;
	margin-top: 1.3em;
}
.nav-links li {
	display: inline-block;
	padding: 0 1em;
}
.nav-links li a {
	text-decoration: none;
	color: gray;
}
.nav-links li a:hover {
	color: pink;
}
.header-btn {
	float: right;
	margin-top: -4em;
	margin-right: 4em;
	border-radius: 30px;
	padding: 1em 2em;
	background: rgb(87, 221, 87);
	color: white;
	border: none;
}
.header-btn:hover {
	background-color: pink;
}

/* End Of Header Section */

/* First Section */
.hero-wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.hero-img {
	width: 50%;
	height: 450px;
	float: right;
	margin-right: 4em;
	margin-top: 2em;
}

/* Second Section */

.second-section {
	background-color: gray;
}
.service-content {
	display: flex;
	justify-content: space-evenly;
}

.home-service {
	width: 50%;
}
.sales-delivery {
	width: 50%;
}
.training {
	width: 50%;
}

.services {
	text-align: center;
	margin-top: 8em;
}
.service-section {
	text-align: center;
	margin-top: 4em;
}
/* third section */
.bg-title {
    text-align: center;
    width: 106%;
}
.bg-btn{
	width: 24%;
	background: rgb(87, 221, 87);
	margin: 2em 23em;
    padding: 1em;
	border-radius: 54px;
	border: none;
	color: whitesmoke;
	font-size: 24px;
}
.bg-sec{
    margin-top: 5em;
}
/* last section */
.cont-text{
	padding: 3em 0;
	text-align: center;
	background: #dadada;
}
.contact-title{
	color: white;
	font-size: 38px;
}
.name{
	width: 40%;
	padding: 1em;
	margin: 1em;
	border: none;
}
.email{
	width: 30%;
	padding: 1em;
	margin: 1em;
	border: none;
}
.contact-btn {
    width: 15%;
    padding: 1em 0;
    border-radius: 20px;
	border: none;
	margin: 2em 0;
	background: rgb(87, 221, 87);
}
/* footer */
footer{
	padding: 2em 0;
	 background: black; 
}
.footer-logo{
	width: 30%;
}
.main-footer{
	display: flex;
	justify-content: space-between;
}
.links{
	color: #dadada;
	list-style-type: none;
}
.links li a{
   text-decoration: none;
   color: #dadada;
}
.footer-links{
	margin-right: 12em;
}
.footer-copy{ 
	color: #dadada;
}